* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

p,
a,
th,
tr {
    font-size: 14px;
    font-family: 'Cairo', sans-serif;
    line-height: 1.5;
    font-weight: 600;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Kdam Thmor Pro', sans-serif;
}

table {
    width: 100%;
    height: auto;
    background-color: antiquewhite;
}

table tr:nth-child(1) {
    background: linear-gradient(to left, #0b0b0b, #4b4b4b);
    color: #fff;
    text-transform: uppercase;
}

table tr:nth-child(1) th {
    padding: 10px 0;
}

table tr:nth-child(even) {
    background-color: floralwhite;
}

table td {
    border: 1px solid #fff;
    padding: 10px 5px ;
}

.dell {
    color: red;
}

.abb{
    width: 20%;
}

.edd{
    width: 8%;
}
.edd a{
    text-decoration: none;
    color: green;
    font-weight: 700;
    font-size: 20px;
}

iframe{
    width: 200px;
    border-radius: 10px;

}

img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}
video{
    height: 100px;
    width: 100px;
}